#main-menu.navbar-default .navbar-brand {
    color: rgba(255, 255, 255, 1);
}
#main-menu.navbar-default {
    font-size: 14px;
    font-weight: 600;
    background-color: rgba(66, 139, 202, 1);
    border-bottom-width: 0px;
}
#main-menu.navbar-default .navbar-nav>li>a {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(66, 139, 202, 1);
}
#main-menu.navbar-default .navbar-nav>li>a:hover,
#main-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(0, 0, 0, 1);
    background-color: rgba(10, 82, 145, 1);
}
#main-menu.navbar-default .navbar-nav>.active>a,
#main-menu.navbar-default .navbar-nav>.active>a:hover,
#main-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(0, 0, 0, 1);
    background-color: rgba(10, 82, 145, 1);
}
#main-menu.navbar-default .navbar-toggle {
    border-color: #0a5291;
}
#main-menu.navbar-default .navbar-toggle:hover,
#main-menu.navbar-default .navbar-toggle:focus {
    background-color: #0a5291;
}
#main-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #0a5291;
}
#main-menu.navbar-default .navbar-toggle:hover .icon-bar,
#main-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #428bca;
}

.navbar {
    min-height: 32px !important;
    border: none;
    height:42px !important;
}

.navbar-nav > li > a {
     padding-top: 11px !important; 
     padding-bottom: 11px !important; 
}

.jumbotron {
    text-align: center;
}

* {
    font-family: 'Open Sans', 'Segoe UI', 'Lucida Sans';
}
.navbar-brand {
    padding: 5px 10px !important; 
}
.site-index{
   margin: 100px auto;
}

.dropdown-list{
    width: 100px;  
}
.center-form{
   margin-top: 100px;
}
.hidden{
    display:none;
}

.cover-img{
    max-height: 150px;
}